h3 완료여부
section.options.done 
  a(data-value='true').option 완료
  a(data-value='false').option 미완료
  a(data-value='all').all 전체

h3 분류
section.options.category
    a(data-value='객관식').option 객관식
    a(data-value='주관식').option 주관식
    a(data-value='의견 묻기').option 의견 묻기
    a(data-value='기타').option 기타
    a(data-value='all').all 전체


h3 중요도
section.options.priority 
    a(data-value='3').option 중요
    a(data-value='2').option 보통
    a(data-value='1').option 사소
    a(data-value='all').all 전체
